.dialogues {
  display: grid;
  grid-template-columns: 2fr 10fr;
  text-decoration: none;
}
.dialoguesItems {
  padding: 1em;
  text-decoration: none;
}
.dialogue {
  text-decoration: none;
}
.messages {
  padding: 1em;
}
.message {
}
